*{
    padding: 0;
    margin: 0;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
}


.logoIcon{
    height: 100px;
}

.navLinks{
    display: flex;
    gap: 10px;
    list-style: none;
    padding-right: 20px;
  
}
.navLinks>li{
    padding: 0 10px;
}